<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC LOG for channel #<TMPL_VAR NAME=CHANNEL>" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=BASE_URL>style.css" title="Irclog Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR NAME=BASE_URL>moose1.ico" type="image/x-icon" />
    <title>IRC log for #<TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></title>
	<TMPL_IF NAME=ADMIN>
	<script type="text/javascript" src="<TMPL_VAR NAME=BASE_URL>jquery.min.js"></script>
	<script type="text/javascript" src="<TMPL_VAR NAME=BASE_URL>jquery.autocomplete.js"></script>
	<script type="text/javascript">
	<!--
		function reset_checkboxes() {
			var inputs = document.getElementsByTagName("input");
			for (var i = 1; i < inputs.length - 1; i++){
				inputs[i].checked = false;
			}
		}
	//-->
	</script>
	</TMPL_IF>
</head>
<body>
    <p><img style="float:right" src="<TMPL_VAR NAME=BASE_URL>moosecamel.png" width="400" height="194"
    alt="A Camel and a Moose"/></p>
    
    <h1>IRC log for #<TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></h1>

    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">
    <TMPL_INCLUDE NAME='linkblock.tmpl'>

    <p>All times shown according to <abbr title="Coordinated Universal Time">UTC</abbr>.</p>
	<TMPL_IF NAME=ADMIN>
	<form method="post" action="<TMPL_VAR NAME=BASE_URL>spam.pl?date=<TMPL_VAR NAME=DATE>;channel=<TMPL_VAR NAME=CHANNEL>">
	<p><input type="submit" value="Mark as spam" /></p>
	<p><a href="javascript:reset_checkboxes()">Reset all Checkboxes</a></p>
	<div style="clear:both"></div>
	</TMPL_IF>
	
    <p id="nickfilter"><label>Filter by nick:</label> 
        <input type="text" id="nick" />
        <input type="button" value="Filter" onclick="filter()" />
        <input type="button" value="Unfilter" onclick="unfilter()" />
    </p>	
	
    <table id="log" style="clear:both">
        <tr class="head">
		<TMPL_IF NAME=ADMIN>
			<th>Range</th>
			<th>Single</th>
		</TMPL_IF>
            <th>Time</th>
            <th>Nick</th>
            <th>Message</th>
        </tr>
        <TMPL_LOOP NAME=MESSAGES>
<TMPL_INCLUDE NAME='line.tmpl'>
        </TMPL_LOOP>

    </table>
	<TMPL_IF NAME=ADMIN>
	<p><input type="submit" value="Mark as spam" /></p>
	<div style="clear:both"></div>
	</form>
	</TMPL_IF>

    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">

    <TMPL_INCLUDE NAME="footer.tmpl">
		
	<script type="text/javascript">
	/* Enable filtering the current page to display only messages from a
	   single nick, without context. Autocompletes all nicks on current page */
	$(document).ready(function() {
		var i = 0;
		var ac_nicks = new Array();
		var nicks_seen = new Object();
		var nick;
		
		$("tr.nick").each(function() {
			var this_class  = $(this).attr('class');
			var extr_re     = new RegExp("nick_([^\x20]+)");
			var matches     = this_class.match(extr_re);
			var nick        = matches[1];
			//if (i++ < 5) { alert(nick); }
			ac_nicks.push(nick);
		});
		// uniq
		for (var i=0; i < ac_nicks.length; i++) {
			nicks_seen[ ac_nicks[i] ] = 1;   
		}
		ac_nicks.splice(0, ac_nicks.length); // empty
		for (nick in nicks_seen) {
			ac_nicks.push(nick);
		}
		ac_nicks.sort();
		
		$("#nick").autocomplete('', {}, ac_nicks);
	});
	
	function filter() {
		var nick = $("#nick").val();
		var jq_sel = "tr:not(.nick_" + nick + ")";
		$(jq_sel).hide();
	}
	
	function unfilter() {
		$("tr.nick").show();
	}
	</script>		
</body>
</html>
<!-- <TMPL_IF DEBUG> <TMPL_VAR NAME=DEBUG> </TMPL_IF> -->
