<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC LOG for channel <TMPL_VAR CHANNEL>" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>style.css" title="Purple Haze Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR BASE_URL>moose1.ico" type="image/x-icon" />
    <title>IRC logs - Search</title>
</head>
<body>
    <h1>Search in IRC logs</h1>

    <p><a href="<TMPL_VAR BASE_URL>">Index</a></p>

    <form action="<TMPL_VAR BASE_URL>search.pl" method="get"
    accept-charset="utf-8">
        <label for="channel">Channel</label>
        <select id="channel" name="channel" size="<TMPL_VAR CH_COUNT>">
                <TMPL_LOOP CHANNELS>
                <option <TMPL_IF SELECTED>selected="selected"</TMPL_IF>><TMPL_VAR
                CHANNEL></option>
                </TMPL_LOOP>
        </select>
		<br />

        <label for="nick">Nick</label>
		<input type="text" size="10" maxlength="30" name="nick"
		value="<TMPL_VAR NICK>" id="nick"></input>
		<br />

        <label for="q">Text</label>
		<input type="text" size="10" maxlength="30" name="q"
		value="<TMPL_VAR Q>" id="text"></input>
		<br />

		<input type="submit"></input><br />

    </form>

	<TMPL_IF DAYS>
	<h1>Results</h1>
	<p>Results from days <TMPL_VAR DAYS_LOWER> to <TMPL_VAR
	DAYS_UPPER>, from overall <TMPL_VAR DAYS_COUNT> days</p>

	<p>
	Result pages:
	<TMPL_LOOP RESULT_PAGES>
		<a href="<TMPL_VAR BASE_URL>search.pl?nick=<TMPL_VAR
		NICK ESCAPE=URL>;channel=<TMPL_VAR CURRENT_CHANNEL
		ESCAPE=URL>;q=<TMPL_VAR Q>;offset=<TMPL_VAR OFFSET>"><TMPL_VAR
		PAGE></a>
	</TMPL_LOOP>
	</p>

	<TMPL_LOOP DAYS>
		<h2><a href="<TMPL_VAR URL>"><TMPL_VAR DAY></a></h2>
		<table>
		<TMPL_LOOP LINES>
			<TMPL_INCLUDE line.tmpl'>
		</TMPL_LOOP>
		</table>
	</TMPL_LOOP>
	</TMPL_IF>

	<p>
	Result pages:
	<TMPL_LOOP RESULT_PAGES>
		<a href="<TMPL_VAR BASE_URL>search.pl?nick=<TMPL_VAR
		NAME=NICK ESCAPE=URL>;channel=<TMPL_VAR NAME=CURRENT_CHANNEL
		ESCAPE=URL>;q=<TMPL_VAR Q>;offset=<TMPL_VAR OFFSET>"><TMPL_VAR PAGE></a>
	</TMPL_LOOP>
	</p>

    <TMPL_INCLUDE footer.tmpl">
  </body>
</html>
