<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="IRC LOG for channel <TMPL_VAR NAME=CHANNEL>" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=BASE_URL>style.css" title="Irclog Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR NAME=BASE_URL>moose1.ico" type="image/x-icon" />
    <title>IRC log for <TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></title>
</head>
<body>
    <p><img style="float:right" src="moosecamel.png" width="400" height="194"
    alt="A Camel and a Moose"/></p>
    
    <h1>IRC log for <TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></h1>

    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">
    <TMPL_INCLUDE NAME='linkblock.tmpl'>

    <p>All times shown according to <abbr title="Coordinated Universal Time">UTC</abbr>.</p>

    <table id="log">
        <tr class="head">
            <th>Time</th>
            <th>Nick</th>
            <th>Message</th>
        </tr>
        <TMPL_LOOP NAME=MESSAGES>
		<TMPL_INCLUDE NAME='line.tmpl'>
        </TMPL_LOOP>

    </table>

    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">

    <TMPL_INCLUDE NAME="footer.tmpl">
</body>
</html>
<!-- <TMPL_IF DEBUG> <TMPL_VAR NAME=DEBUG> </TMPL_IF> -->
