<div id="footer">
    <p>Powered by <a href="http://moritz.faui2k3.org/en/ilbot">ilbot</a>, 
    Provided by <a href="http://moritz.faui2k3.org/">Moritz Lenz</a>. 
    Bug reports and enquiries to moritz at faui2k3 dot org or #perl6 on
    irc.freenode.net.</p>
</div>
