<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="IRC logs by ilbot" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=BASE_URL>style.css" title="Purple Haze Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR NAME=BASE_URL>moose1.ico" type="image/x-icon" />
    <title>IRC logs</title>
</head>
<body>
    <h1>IRC logs</h1>

    <p><a href="<TMPL_VAR NAME=BASE_URL>search.pl">Search the logs</a></p>

    <TMPL_LOOP NAME=CHANNELS>
        <h2 id="<TMPL_VAR NAME=CHANNEL>"><TMPL_VAR NAME=CHANNEL></h2>
        <TMPL_IF NAME=DATES>
        <ul class="log-index"><TMPL_LOOP NAME=DATES>
            <li><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=DATE></a></li>
        </TMPL_LOOP></ul>
        </TMPL_IF>
    </TMPL_LOOP>

    <TMPL_INCLUDE NAME="footer.tmpl">
  </body>
</html>
