<tr id="id_l<TMPL_VAR NAME=LINE_NUMBER>" <TMPL_IF NAME=CLASS>class="<TMPL_VAR NAME=CLASS>"</TMPL_IF>>
	<!-- <TMPL_VAR NAME=ID> -->
	<td><TMPL_UNLESS NAME=SPECIAL><a href="<TMPL_VAR NAME=LINK_URL>#id_l<TMPL_VAR NAME=LINE_NUMBER>" class="time"><TMPL_VAR
	NAME=TIME></a></TMPL_UNLESS></td>
	<td class="nick<TMPL_IF NAME=NICK_CLASS> <TMPL_VAR NAME=NICK_CLASS></TMPL_IF>"><TMPL_VAR NAME=NICK></td>
	<td><TMPL_VAR NAME=MESSAGE></td>
</tr>
