    <p><TMPL_IF NAME=PREV_URL><a href="<TMPL_VAR NAME=PREV_URL>">Previous
    day</a></TMPL_IF> 
    <a href="<TMPL_VAR NAME=INDEX_URL>">index</a>
    <TMPL_IF NAME=NEXT_URL><a href="<TMPL_VAR NAME=NEXT_URL>">next
    day</a></TMPL_IF>
    <a href="<TMPL_VAR NAME=SEARCH_URL>">search</a>
    <a href="http://www.google.com/search?q=site%3Amoritz.faui2k3.org+inurl%3Airclog+inurl%3A<TMPL_VAR NAME=CHANNEL ESCAPE=URL>">Google-Search the Irclogs</a>
    </p>
