<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC LOG for channel #<TMPL_VAR CHANNEL>" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>s/style.css" title="Irclog Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR BASE_URL>s/favicon.ico" type="image/x-icon" />
    <link rel="canonical"
        href="<TMPL_VAR BASE_URL><TMPL_VAR CHANNEL>/<TMPL_VAR DATE>" />
    <title>Historique IRC pour #<TMPL_VAR CHANNEL>, <TMPL_VAR DATE></title>
	<TMPL_IF ADMIN>
	<script type="text/javascript">/* <![CDATA[ */
		function reset_checkboxes() {
			var inputs = document.getElementsByTagName("input");
			for (var i = 1; i < inputs.length - 1; i++){
				inputs[i].checked = false;
			}
		}
	/* ]]> */
	</script>
	</TMPL_IF>

</head>
<body>
    <div id="notify"></div>
    <p><a href="<TMPL_VAR LOGO_LINK>"><img style="float:right; border:none"
        src="<TMPL_VAR LOGO_URL>"
        alt="<TMPL_VAR LOGO_ALT>"/></a></p>

    <h1>IRC log for #<TMPL_VAR CHANNEL>, <TMPL_VAR DATE></h1>

    <TMPL_VAR NAME=CHANNEL_LINKS ESCAPE=NONE>
    <TMPL_INCLUDE NAME='linkblock.tmpl'>

    <p>Les heures sont affich&eacute; en utilisant au format <TMPL_IF UTC><abbr title="Coordinated Universal Time">UTC</abbr><TMPL_ELSE><TMPL_VAR TIMEZONE></TMPL_IF>.</p>
    <TMPL_UNLESS NAME=IS_SUMMARY>
    <div>
	<span style="display: none;" id="filter_toggle"></span>
    <span id="summary_container" />
    </div>
    </TMPL_UNLESS>
	<TMPL_IF ADMIN>
	<form method="post" action="<TMPL_VAR BASE_URL>spam.pl?date=<TMPL_VAR DATE>;channel=<TMPL_VAR CHANNEL>">
	<p><input type="submit" value="Mark as spam" /></p>
	<p><a href="javascript:reset_checkboxes()">D&eacute;cocher toutes les cases</a></p>
	<div style="clear:both"></div>
    <TMPL_ELSE>
    <form action="#" id="summary_form">
	</TMPL_IF>
    <div id="top" />
    <table id="log" style="clear:both">
        <tr class="head">
		<TMPL_IF ADMIN>
			<th>Range</th>
			<th>Single</th>
		</TMPL_IF>
            <th>Date</th>
            <th>Pseudo</th>
            <th>Message</th>
        </tr>
        <TMPL_LOOP MESSAGES>
<TMPL_INCLUDE NAME='line.tmpl'>
        </TMPL_LOOP>

    </table>
	<TMPL_IF ADMIN>
	<p><input type="submit" value="Mark as spam" /></p>
	<div style="clear:both"></div>
	</TMPL_IF>
	</form>

    <div id="bottom" />

    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_VAR NAME=CHANNEL_LINKS ESCAPE=NONE>

    <TMPL_INCLUDE NAME="footer.tmpl">

	<script type="text/javascript" src="<TMPL_VAR BASE_URL>s/jquery.min.js"></script>
    <script type="text/javascript">
    IlbotConfig = {
        base_url:  '<TMPL_VAR BASE_URL ESCAPE=JS>',
        channel:   '<TMPL_VAR CHANNEL ESCAPE=JS>',
        day:       '<TMPL_VAR DATE ESCAPE=JS>',
        still_today:  <TMPL_VAR IS_TODAY ESCAPE=js>
    };
    </script>
	<script type="text/javascript" src="<TMPL_VAR BASE_URL>s/dynamic.fr.js"></script>
</body>
</html>
<!-- <TMPL_IF DEBUG> <TMPL_VAR DEBUG> </TMPL_IF> -->
