<div id="footer">
    <p>Propuls&eacute; by <a href="http://moritz.faui2k3.org/en/ilbot">ilbot</a>.
	<strong>Veuillez ajouter vos coordonn&eacute;es de contact ici en
&eacute;ditant &lt;cgi/template/footer.tmpl&gt;.</strong></p>
</div>
