    <p><TMPL_IF NAME=PREV_URL>
        <TMPL_IF NAME=IS_SUMMARY>
        <a href="<TMPL_VAR NAME=PREV_URL>/summary" rel="prev">
        <TMPL_ELSE>
        <a href="<TMPL_VAR NAME=PREV_URL>" rel="prev">
        </TMPL_IF>&larr; Previous day</a> |
    </TMPL_IF> 
    <a href="<TMPL_VAR NAME=BASE_URL>">Channels</a> |
	<a href="<TMPL_VAR NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/">#<TMPL_VAR
    CHANNEL> index</a> |
	<a href="<TMPL_VAR NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/today">Today</a> |
    <TMPL_IF NAME=NEXT_URL>
        <TMPL_IF NAME=IS_SUMMARY>
        <a href="<TMPL_VAR NAME=NEXT_URL>/summary" rel="next">
        <TMPL_ELSE>
        <a href="<TMPL_VAR NAME=NEXT_URL>" rel="next">
        </TMPL_IF>Next day &rarr;</a> |
    </TMPL_IF>
    <a href="<TMPL_VAR BASE_URL><TMPL_VAR name=channel>/search">Search</a> |
    <a href="http://www.google.com/search?q=site%3Airclog.perlgeek.de+inurl%3A<TMPL_VAR NAME=CHANNEL ESCAPE=URL>">Google Search</a>
	<TMPL_IF NAME=DATE>| <a href="<TMPL_VAR
	NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/<TMPL_VAR NAME=DATE>/text">Plain-Text</a> |
    <TMPL_IF NAME=IS_SUMMARY>
    <a href="<TMPL_VAR NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/<TMPL_VAR
    NAME=DATE>">full mode</a>
    <TMPL_ELSE>
    <a href="<TMPL_VAR NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/<TMPL_VAR NAME=DATE>/summary">summary</a>
    </TMPL_IF>
    </TMPL_IF>

	</p>
