<p> <a href="http://dev.perl.org/perl6/">Perl 6</a> 
  | <a href="http://www.pugscode.org/">Pugs</a>
  | <a href="http://perlcabal.org/syn/?">Specs</a>
  | <a href="http://www.parrotcode.org/">Parrot</a>
  | <a href="/pugs/">Pugs POD</a>
</p>
