<p> <a href="http://perl6.org/">Perl 6</a>
  | <a href="http://www.rakudo.org/">Rakudo</a>
  | <a href="http://perlcabal.org/syn/">Specs</a>
  | <a href="http://www.parrot.org/">Parrot</a>
  | <a href="http://www.slimies.de/raxref-parrot_rakudo.html">source cross
  referenced</a>
</p>
