# path to the perl libraries (.pm files)
lib = lib

# Database connectivity
dsn = mysql
database = moritz5
host = localhost
user = moritz
password = foo

# Timezone
# Options:
#	* 'local' for server's timezone
#	* 'gmt' for UTC
timezone = local
