base_url = /
static_path = static
throttle = 0
use_cache = 0
logo_url  = /s/camelia.png          # Site default
logo_link = http://perl6.org/       # Site default
logo_alt  = Camelia, the Perl 6 bug # Site default
chan_conf[bottest][logo_url]   = http://example.com/logo.jpg # for #bottest
chan_conf[bottest][logo_link]  = http://example.com/         # for #bottest
chan_conf[bottest][logo_alt]   = Custom channel logo alt=""  # for #bottest
chan_conf[bottest][tracker][github]  = https://github.com/parrot/parrot/
chan_conf[bottest][tracker][default] = GH # RT is the other default
